body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 1000px;
  background: linear-gradient(to bottom right, #e5f1f5, #ffffff);
  /* border-right: 180px solid transparent;
  border-image-source: url('images/doodle_bg2.jpg');
  border-image-repeat: repeat;
  border-image-slice: 10%; */
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.nav-avatar {
  height: 35px;
  border-radius: 25px;
  margin-left: 10px;
  margin-bottom: -10px;
}

.nav {
  /* border-bottom: 1px solid #CCC; */
  margin-top: 40px;
}

.nav-links {
  text-decoration: none;
  display: inline-block;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.container {
  max-width: 1000px;
  max-width: 1000px;
  height: 100%;
  display: contents;
}

.page-container {
  display: block;
  text-align: center;
}

/* .bgimage-container {
  height: 1000px;
  margin: 0 auto;
  padding: 10px;
  background-image: url('images/bgimage.jpg');
  background-repeat: repeat-y;
  background-size: cover;
} */

.author-name {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  background-color: #cce4eb;
  color: #017a9b;
}

.question-avatar {
  padding-top: 15px;
  padding-right: 15px;
  text-align: left;
}

.question-avatar img {
  height: 80px;
  border-radius: 50px;
  margin-left: 30px;
  margin-bottom: 20px;
}

ul {
  padding-left: 0;
}

/* li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  display: inline;
} */

.user-leaderboard ul {
  padding-left: 0;
}

.leaderboard-container {
  margin-left: 120px;
}

.leaderboard li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  display: inline;
  font-size: initial;
  display: inline-block;
  box-sizing: border-box;
}

.new-ques-header {
  display: block;
  background-color: #899093;
  color: ghostwhite;
}

.login-header {
  display: block;
  background-color: #003d4d;
  color: ghostwhite;
}

.login-header h3 {
  font-size: 1.17em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding: 15px;
}

.new-ques-header h3 {
  font-size: 1.17em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding: 15px;
}

.question-contents input[type='text'] {
  margin: 15px auto;
  padding: 3px;
  border: 1px solid rgba(0,0,0,.29);
}

.login-form select {
  width: 150px;
  margin: 15px auto;
  padding: 3px;
  border: 1px solid rgba(0,0,0,.29);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.signin-btn {
  height: 2rem;
  border: transparent;
  border-radius: .25rem;
  background: #3394af;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Open Sans,sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin: 10px auto;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.signin-btn:disabled {
  cursor: not-allowed;
  background: #80bccd;
  color: lightgrey;
}

.signin-btn:hover:enabled {
  background: #017a9b;
}

.add-ques-btn {
  height: 2rem;
  border: transparent;
  border-radius: .25rem;
  background: #3394af;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Open Sans,sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin: 10px auto;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.add-ques-btn:disabled {
  cursor: not-allowed;
  background: #80bccd;
  color: lightgrey;
}

.add-ques-btn:hover:enabled {
  background: #017a9b;
}

.question-details {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  width: 420px;
  border-radius: 6px;
  height: 150px;
}

.new-question {
  margin-left: 200px;
  text-align: center;
}

.login-form {
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  background-color: #f7fafc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  width: 420px;
  border-radius: 6px;
  height: 300px;
}

.new-ques-form {
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  background-color: #f7fafc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  width: 420px;
  border-radius: 6px;
  height: 360px;
}

/* .question-contents {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  width: 420px;
  border-radius: 6px;
  height: 400px;
} */

.signin-span {
  height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #525658;
  font-size: larger;
  font-weight: 400;
  color: ghostwhite;
  border-radius: 6px 6px 0 0;
}

.signin-h4 {
  color: #017a9b;
  padding: 10px;
}

.complete-ques {
  height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #003d4d;
  font-size: larger;
  font-weight: 400;
  color: ghostwhite;
  border-radius: 6px 6px 0 0;
}

.view-poll-btn {
  height: 2rem;
  padding: 0 1rem;
  border: transparent;
  border-radius: .25rem;
  background: #3394af;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Open Sans,sans-serif;
  font-size: .8125rem;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
}

.view-poll-btn:hover {
  background: #017a9b;
}

.question-content {
  text-align: center;
  border: 1px solid #ccc;

}

.question-peek {
  margin-top: -100px;
  color: #434d56;
}

.question-peek span {
  font-weight: bold;
}

.question-viewpoll {
  float: right;
  margin-top: -85px;
  padding: 25px;
}

.dashboard-content {
  width: 65%;
  display: contents;
  border: 1px solid #CCC;
}

/* Style the tab */
.tab {
  display: inline-flex;
  overflow: hidden;
  margin-top: 23px;
  margin-left: 90px;
  padding: 10px;
  width: 60%;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  width : 50%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: .935rem;
  color: #66afc3;
  font-weight: 550;
  border-bottom: 4px solid transparent;
  display: block;
  padding: .75rem .5rem .5rem;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #017a9b;
  background-color:#f1f1f1!important
}

/* Create an active/current tablink class */
.tab button.active {
  color: #3394af;
  background-color: white;
}

.tablinks {
  margin-left: 4px;
  border-bottom:4px solid #ccc!important;
}

.tablinks.active {
  border-color: #017a9b!important;
}

/* Style the tab content */
.tabcontent {
  /* margin-left: 200px; */
  display: none;
  padding: 6px 12px;
  text-align: -webkit-center;
  border-top: none;
}

.tabcontent.active{
  display: block;
  padding: 6px 12px;
  text-align: -webkit-center;
  border-top: none;
}

.leaderboard {
  display: contents;
}

.user-leaderboard {
  width: 350px;
  text-align: center;
  display: flex;
  height: 100px;
  padding-bottom: 20px;
  padding-top: 20px;
  background: transparent;
  border-radius: 6px;
  transition: box-shadow .2s ease-in-out;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.user-avatar {
  text-align: left;
  width: 90px;
  padding-top: 15px;
  padding-right: 15px;
  border-right: 1px solid #ccc;
}

.user-details {
  width: 200px;
  padding-left: 15px;
  text-align: left;
  border-right: 1px solid #ccc;
}

.user-details h4 {
  color: #657482;
  margin-block-start: 0;
  margin-block-end: 0;
}

.user-details p {
  margin-block-start: 10px;
  margin-block-end: 10px;
  font-size: 15px;
  color: #58646d;
}

.user-score {
  margin-right: 10px;
  width: 75px;
  margin-left: 10px;
  color: #58646d;
  font-weight: 500;
}

.user-nav {
  text-align: right;
  padding-top: 40px;
  padding-right: 20px;
}

.user-logout {
  color: white;
  padding: 10px;
}

.user-actions {
  margin-top: -90px;
}

.user-nav li a:hover:not(.active) {
  color: #3394af;
}

.nav-bar {
  margin-top: -50px;
  height: 150px;
  background-color: #1f2932;
}

.image-wrapper {
  overflow: hidden;
  height: 225px;
  width: 200px;
  margin-top: -42px;
  bottom: 0;
}

.wyr {
  opacity: 0.8;
}

.user-nav li {
  list-style-type: none;
}

.question li {
  list-style-type: none;
}

.signin-error {
  margin-top: -60px;
  margin-left: 280px;
  overflow: visible;
  color: red;
}

.side-nav ul {
  list-style-type: none;
  margin-top: 0px;
  text-align: center;
  padding: 0;
  width: 15.8%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.side-nav li a {
  display: block;
  color: #000;
  padding: 10px 16px;
  text-decoration: none;
  font-weight: bold;
}

.side-nav li a.active {
  background-color: #3394af;
  color: white;
  font-weight: bold;
}

.side-nav li a:hover:not(.active) {
  background-color: #a6a6a6;
  color: white;
  font-weight: bold;
}

.username {
  color : white;
}

.logo {
  margin-top: -25px;
  margin-left: -10px;
}

.side-logo {
  background-color: #1f2932;
  height: 150px;
  color : white;
  text-align: center;
  vertical-align: middle;
}

.user-login {
  margin-left: 120px;
  height: 100%
}

.logo-title {
  font-family: 'Lucida Console', monospace;
  padding-top: 80px;
  color: white;
  margin-left: 220px;
  width: 350px;
}

.image-container {
  background-image: url('images/doodle_bg2.jpg');
  height: 400px;
  background-position: top;
  background-repeat: repeat;
}

.nav-image-container {
  background-position: top;
  float: right;
  right: 150px;
  width: 10%;
  background-image: url('images/doodle_bg2.jpg');
  height: 750px;
}

.question-page {
  text-align: center;
  margin-left: 120px;
  margin-top: 40px;
  padding: 40px;
  display: inline-block;
}

.question-page-details {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  width: 420px;
  border-radius: 6px;
  height: 320px;
}

.ques-page-author {
  text-align: left;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  background-color: #99c9d7;
  color: #00617c;
  border-radius: 6px 6px 0 0;
  font-size: 25px;
}

.ques-page-peek {
  margin-top: -100px;
  padding-left: 20px;
  float: right;
  color: #434d56;
}

.ques-page-avatar {
  margin-top: 20px;
  padding-top: 25px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: left;
}

.ques-page-avatar img {
  height: 80px;
  border-radius: 50px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.question-results {
  background: #fff;
  border: 1px solid #cce4eb;
  padding: 10px;
  padding-left: 10px;
  margin-right: 5px;
  margin-top: -40px;
  text-align: left;
  padding-bottom: 20px;
  width: 260px;
  height: 220px;
  color: #00617c;
}

.question-poll {
  padding-right: 50px;
  padding-top: 15px!important;
  background: #e5ebed;
  padding: 5px;
  margin-right: 20px;
  margin-top: -30px;
  padding-bottom: 10px;
  color: #00617c;
  border-radius: 6px;
  width: 240px;
  height: 190px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.question-results span {
  font-weight: bold;
}

.question-results p {
  font-size: 12px;
}

.question-poll span {
  font-weight: bold;
  font-size: 17px;
}

.question-poll p {
  margin-top: 12px;
  font-size: 14px;
}

.question-choices {
  font-size: 17px;
}

.submit-poll-btn {
  height: 2rem;
  border: transparent;
  border-radius: .25rem;
  background: #003d4d;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Open Sans,sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin: 10px auto;
  font-size: 16px;
  margin-top: 15px;
  width: 150px;
  position: relative;
}

.submit-poll-btn:disabled {
  cursor: not-allowed;
  background: #003645;
  color: #787e84;
}

.submit-poll-btn:hover:enabled {
  background: #19505e;
}

.question-option {
  padding: 5px;
  margin-top: 15px;
  border-radius: 6px;
  height: 80px;
  color: white;
  background-color: #003d4d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.question-option p {
  vertical-align: top;
  padding: 5px;
  padding-left: 10px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.question-option progress {
  height: 20px;
  margin-top: 5px;
  margin-left: 20px;
}

.vote-progress {
  color : #000!important;
  background-color : #d8d8d8!important;
  height: 15px;
  margin-top: 15px;
  margin-left: 20px;
  width: 190px;
}

.vote-ratio {
  color : #fff!important;
  height: 15px;
  background-color : #4CAF50!important;
}

.option-selected {
  outline: 3px solid green;
  outline-offset: 3px;
  outline-style: solid;
}
