.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.center {
  display: inline;
  text-align: center;
}

.author-name {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left : 20px;
  border: 1px solid #ccc;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.question-table {
  border: 1px solid #ccc;
}

.question-table thead tr td{
  margin-bottom: 2px;
  border-bottom: 1px solid #ccc;
}

.question-content {
  text-align: center;
  border: 1px solid #ccc;

}

.question-peek {
  padding-left: 10px;
  border-left: 1px solid #ccc;
  width: 60%;
  text-align: left;
  vertical-align: middle;
}

.question-viewpoll {
  margin-left: 20px;
  margin-bottom: 10px;
}

.dashboard-content {
  width: 65%;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  width : 50%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent.active{
  display: block;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
